image boot.vfat {
	vfat {
		files = {
			"zImage",
			"devicetree.dtb",
			"boot.scr"
		}
	}

	size = 8M
}

image sdcard.img {
	hdimage {
	}

	partition u-boot {
		in-partition-table = "no"
		image = "u-boot-sunxi-with-spl.bin"
		offset = 8K
		size = 1016K # 1024KB - 8KB
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 0
	}

	partition swap {
		partition-type = 0x82
		size = 32M
	}

	#partition data {
	#	partition-type = 0x83
	#	size = 1024M
	#}

}
